body{
  background-color: black;
  color: white;
}

div {
  background-color: rgb(35, 35, 35);
}

#root {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  min-height: 93vh;
  background-color: black;
  
  height: 100%;
  display:flex;
  flex-direction: column;
  /* padding-bottom: 1px; */
}

.header {
  border-bottom-style: solid;
  border-color: rgb(97, 97, 97);
  border-bottom-width: 1px;
  padding: 1%;
  /* padding-color:rgb(35, 35, 35); */

  display: flex;
  flex-direction: row;
  /* background-color: rgb(27,27,27); */
  margin-bottom:1%;
  border-style:solid;
  border-width: 1px;
  border-color: rgb(97, 97, 97);
  border-radius: 20px;
}

#headerPic{
  width:170px;
  height:170px;
  margin-top:auto;
  margin-bottom: auto;
  
  /* min-width: 150px; */
  /* min-height: 150px; */
}

.name {
  font-size: 3rem;
  /* text-align: center; */
  padding-left: 2%;
}

.shortBio {
  padding:2%;
}

.mainContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex: 1 1 auto;
  margin-top:1%;
  border-style:solid;
  border-width: 1px;
  border-color: rgb(97, 97, 97);
  border-radius: 20px;
  /* height: 100%; */
}

.moveButton {
  opacity: .1;
  background-color: rgb(80, 80, 80);
  width: 4%;
  color: whitesmoke;
  /* text-align: center; */
  /* vertical-align: middle;
  line-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  border-radius: 19px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* font-stretch: ultra-condensed; */
}
.moveButton:hover {
  opacity: 1;
  background-color: rgb(80, 80, 80);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
}

.tableOfContents{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.navLink{
  opacity: .4;
  color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.navLink:hover{
  opacity: .7;
  border-bottom-color: white;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  cursor:pointer;
}

#selectedPage{
  opacity: 1;
  border-bottom-color: white;
}

.experienceCard{
  background-color: rgb(18,18,18);

  padding: 2%;
  margin: 1%;
  border-radius: 20px;
  border-style:solid;
  border-color: black;
  border-width: 1px;
}

.experienceCard div{
  background-color: rgb(18,18,18);
}

.expRow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-grow: 1; */
  /* width: 100%; */
}

.cardContainer{
  width:100%;
  max-width: 850px;
  display:flex;
  /* background-color: rgb(18,18,18); */
  /* max-width: 850px; */
  /* width: 100%; */
  font-size:1.25rem;
  flex-direction: column;
}

/* button {
  color: white;
  font-size: 2rem;
  font-stretch: condensed;
  
} */
